[submodule "iflux-server/code"]
	path = iflux-server/code
	url = git@github.com:SoftEng-HEIGVD/iflux-server-node.git
[submodule "iflux-apidoc/code"]
	path = iflux-apidoc/code
	url = git@github.com:SoftEng-HEIGVD/iFLUX.io.git
[submodule "iflux-blog/code"]
	path = iflux-blog/code
	url = git@github.com:SoftEng-HEIGVD/iFLUX.io.git
